/* Variables */

:root {
	--border-radius-1: 8px;
    --border-radius-2: 16px;
}

/* Selected tab design tweaks */

.layout-1qmrhw {
    border-radius: var(--border-radius-1);
}

.clickable-28SzVr:hover .layout-1qmrhw {
    border-radius: var(--border-radius-1);
}

.layout-1qmrhw {
  border-radius: var(--border-radius-1);
  height: 46px;
}

.privateChannelsHeaderContainer-1UWASm {
  padding: 10px 8px 6px 18px;
  height: auto;
}

/* Friends search bar design tweaks */

.container-2oNtJn {
    border-radius: var(--border-radius-1);
    background-color: #2f3136;
}

.medium-2NClDM .input-2m5SfJ, .medium-2NClDM .tag-Pxnlt9 {
    height: 36px;
    padding: 0 16px;
}

.medium-2NClDM.iconLayout-3Bjizv {
    height: 38px;
    width: 38px;
}

/* In-Chat search bar design tweaks */

.searchBar-zdmu7v {
    height: 28px;
    width: 150px;
    padding: 2px 4px;
    border-radius: var(--border-radius-1);
}

/* Bigger seperation in activity feed */

.theme-dark .separator-2OaeRP {
    visibility: hidden;
}

.separator-2OaeRP {
    height: 8px;
}

.theme-dark .inset-SbsSFp {
    background-color: inherit;
}

/* Activity feed design tweaks*/

.itemCard-3Etziu {
    border-radius: var(--border-radius-2);
}

.section-3G9aLW:first-child {
    border-radius: var(--border-radius-1);
}

.section-3G9aLW {
    border-radius: var(--border-radius-1);
}

.section-3G9aLW:last-child {
    border-radius: var(--border-radius-1);
}

.wrapper-2RrXDg {
    border: none;
}
